:root{
    --primary-color: #e867ed;
    --secondary-color: #e0eae5;
}

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/* TYPOGRAPHY */
body{
    background-color: #333940;
    color: var(--primary-color);
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0;
}

/* HEADER */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-heading{
    font-size: 2.78rem;
    line-height: 1.1;
    margin: 2rem 0 1rem 0;
}

.header-content{
    color: var(--secondary-color);
    font-size: 0.92rem;
    margin: 0;
    padding: 0 1rem;
    max-width: 90%;
}

@media screen and (min-width: 768px){
    .header-heading{
        font-size: 4rem;
        margin-bottom: 1.5rem;
    }
    .header-content{
        font-size: 1.5rem;
        padding: 0 4rem;
    }
}