* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* TYPOGRAPHY */
body {
  font-size: 1.2rem;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1440px;
}

h2, h3, p{
    margin: 0;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  body{
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
}

/* LIST */
.list {
  display: none;
  margin: 0;
  list-style-type: none;
}

.list__item {
  margin-left: 2rem;
}

@media screen and (min-width: 768px) {
  .list {
    display: flex;
    justify-content: end;
  }
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo{
  width: 13.5rem;
}

@media screen and (min-width: 768px){
  .logo{
    width: 19rem;
  }
}

@media screen and (min-width: 1024px){
  .logo{
    width: 26rem;
  }
}